<div class="container my-5">
<h2>ログイン</h2><br>
<%= form_with model: @user, url: user_session_path do |f| %>
  <div class="row">
    <label class="col-lg-3"><h4>メールアドレス</h4></label>
    <div class="col-lg-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div><br>

  <div class="row">
    <label class="col-lg-3"><h4>パスワード</h4></label>
    <div class="col-lg-3">
    <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  </div><br>

  <div class="align" class= "submit">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
  <br><br>
<% end %>

  <div class="action">
    <div clas="col-xs-5">
      <h4>会員登録がお済みでない方</h4>
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "こちら" %><strong>から新規登録を行なってください。</strong>
      <% end %>
    </div>
  </div>
</div>