<div class="container my-5">
    <div class="sweet-index">
        <h2>1月</h2>
        <%= render 'sweet', sweets: @sweets %>
    </div>
        <div class="sweet-index">
        <h2>2月</h2>
        <%= render 'sweet', sweets: @sweets %>
    </div>
    <div class="sweet-index">
        <h2>3月</h2>
        <%= render 'sweet', sweets: @sweets %>
    </div>
    <div class="sweet-index">
        <h2>4月</h2>
        <%= render 'sweet', sweets: @sweets %>
    </div>
    <div class="sweet-index">
        <h2>5月</h2>
        <%= render 'sweet', sweets: @sweets %>
    </div>
    <div class="sweet-index">
        <h2>6月</h2>
        <%= render 'sweet', sweets: @sweets %>
    </div>
    <div class="sweet-index">
        <h2>7月</h2>
        <%= render 'sweet', sweets: @sweets %>
    </div>
    <div class="sweet-index">
        <h2>8月</h2>
        <%= render 'sweet', sweets: @sweets %>
    </div>
    <div class="sweet-index">
        <h2>9月</h2>
        <%= render 'sweet', sweets: @sweets %>
    </div>
    <div class="sweet-index">
        <h2>10月</h2>
        <%= render 'sweet', sweets: @sweets %>
    </div>
    <div class="sweet-index">
        <h2>11月</h2>
        <%= render 'sweet', sweets: @sweets %>
    </div>
    <div class="sweet-index">
        <h2>12月</h2>
        <%= render 'sweet', sweets: @sweets %>
    </div>
</div>

