<div class="container my-5">
    <div class="user-title">
        <h2>プロフィール編集</h2>
        <br><br>
        <div class="user-item">
            <div>
                <dl>
                    <%= form_with model: @user do |f| %>
                    <dt>
                        <%= f.file_field :profile_image, placeholder:"プロフィール画像", accept:"image/*"%>
                    </dt>
                    <dd>
                        <%= f.text_field :name, autofocus: true,id:"inputName", placeholder:"ユーザーネーム"%>
                        <%= f.submit "変更を保存", class: "btn btn-primary text-right" %>
                    </dd>
                    <br>
                    <br>
                    <dd>
                        <p>退会をご希望の方はこちらから退会手続きにお進みください。</p><br>
                        <%= link_to "退会手続きへ" , users_confirm_withdraw_path %>
                    </dd>
                    <% end %>
                </dl>
            </div>
        </div>
    </div>
</div>