<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <div class="user-title">
                <h2>マイページ</h2>
                <br>
                <div class="user-item">
                    <div>
                        <dl>
                            <dt>
                              <%= image_tag @user.get_profile_image, class: "user-profile" %>
                            </dt>
                            <br>
                            <dd>
                              ユーザーネーム：<%= @user.name %>
                            </dd>
                            <dd>
                                <p>メールアドレス：</p><%= @user.email %>
                            </dd>
                            <dd>
                              <%= link_to edit_user_path(@user) do %>
                              <p>編集する</p>
                              <% end %>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="user-title">
                <h2>ブックマーク一覧</h2>
                <br>
                <div class="user-item">
                    <div>
                      <% if @favorite_list.present? %>
                        <% @favorite_list.each do |post| %>
                          <%= post.title %>
                          <%= image_tag post.get_image %>
                         <% end %>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>