<div class="container my-5">
    <div class="sweet-index">
        <h2>1月</h2>
        <% @sweets.each do |sweet| %>
        <ul class="sweet-item">
            <li>
                <dl>
                  <dt>
                    <%= link_to sweet_path(sweet) do %>
                      <%= image_tag sweet.get_image %>
                    <% end %>
                  </dt>
                  <br>
                  <dd>
                    <%= link_to sweet.name, sweet_path(sweet) %>
                  </dd>
                </dl>
            </li>
        </ul>
        <% end %>
    </div>
        <div class="sweet-index">
        <h2>1月</h2>
        <% @sweets.each do |sweet| %>
        <ul class="sweet-item">
            <li>
                <dl>
                  <dt>
                    <%= link_to sweet_path(sweet) do %>
                      <%= image_tag sweet.get_image %>
                    <% end %>
                  </dt>
                  <br>
                  <dd>
                    <%= link_to sweet.name, sweet_path(sweet) %>
                  </dd>
                </dl>
            </li>
        </ul>
        <% end %>
    </div>
</div>

