            <div class="container my-5">
                <div class="row"><!-- ここの部分もeach文の中に入れたほうがいいかも？ -->
                    <h2 class="month">1月</h2><br>
                </div>
                <div class="row">
                                        <div class="col-md-3">
                    <% @sweets.each do |sweet| %>
                        <%= link_to sweet_path(sweet) do %> <!-- URLに:idがつくため（）をつける -->
                        <%= image_tag sweet.get_image %>
                        <% end %>
                        <br><br>
                        <%= link_to sweet.name, sweet_path(sweet) %>
                    <% end %>
                                        </div>
            </div>
                <div class="row"><!-- ここの部分もeach文の中に入れたほうがいいかも？ -->
                    <h2 class="month">1月</h2><br>
                </div>
                <div class="row">
                                        <div class="col-md-3">
                    <% @sweets.each do |sweet| %>
                        <%= link_to sweet_path(sweet) do %> <!-- URLに:idがつくため（）をつける -->
                        <%= image_tag sweet.get_image %>
                        <% end %>
                        <br><br>
                        <%= link_to sweet.name, sweet_path(sweet) %>
                    <% end %>
                                        </div>
            </div>
            </div>

