<div class="container my-5">
    <div class="post-title">
        <h2>投稿編集</h2>
        <br><br>
        <div class="post-item">
            <div>
                <dl>
                    <%= form_with model: @post do |f|%>
                    <dt>
                      <div class="item-new-form">
                         <%= f.file_field :image, accept: "image/*" %> <!-- file_fieldとは、ファイルの投稿をするためのフィールドであり、画像ファイル以外に音声ファイルや動画ファイルも投稿できてしまうので、'accept: "image/*"を使い、画像ファイルしか投稿できなくする。-->
                      </div>
                    </dt>
                    <dd>
                        <%= f.text_field :title, class: "form-control" %>
                    </dd>
                    <br><br>
                    <dd>
                        <%= f.text_area :content, class: "form-control" %>
                        <%= f.submit "変更を保存", class: "btn btn-primary text-right" %>
                    </dd>
                    <% end %>
                </dl>
            </div>
        </div>
    </div>
</div>