<% @posts.each do |post| %>
  <div class="col-md-8 col-md-2 mx-auto">
    <div class="card-wrap">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <%= link_to user_path(post.user), class: "no-text-decoration" do %>
            <%= image_tag post.get_image, class: "post-profile-icon" %>
          <% end %>
          <%= link_to user_path(post.user), class: "black-color no-text-decoration",
            title: post.user.name do %>
            <strong><%= post.user.name %></strong>
          <% end %>
        </div>

        <%= link_to(post_path(post)) do %>
          <%= image_tag post.user.get_profile_image, size:"50x50", class: "card-img-top" %>
          <!-- def get_profile_imageの部分がArgumentError（引数のエラー）wrong number of arguments(given 2, expected 0)（与えられた引数は2つだけど予測は0だから、引数の数が間違っている）のエラーが出た。
          「get_profile_image」に渡す引数でエラーが起こっている。＝＞サイズ指定が間違っており、（100, 100)になっていたため、変更。-->
        <% end %>

        <div class="card-body">
          <div class="row parts">
            <%= link_to "", "#", class: "love" %>
            <%= link_to "", "#", class: "comment" %>
          </div>
          <div><strong>「いいね！」10件</strong></div>
          <div>
            <span><strong><%= post.user.name %></strong></span>
            <span><%= post.content %></span>

            <%# =====この行を編集する====== %>
            <%= link_to time_ago_in_words(post.created_at).upcase + "前", post_path(post), class: "post-time no-text-decoration" %>

            <hr>
            <div class="row parts">
              <form action="#" class="w-100">
                <div>
                  <textarea class="form-control comment-input border-0" placeholder="コメント..." rows="1"></textarea>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<br><br>
<div class="container my-5">
    <div class="row 1">
        <h5 class="text-dark bg-light p-4 mb-0">画像投稿フォーム</h5>
            <%= form_with model: @post do |f| %>
            <%= f.file_field :image, accept: "image/*", class: "w-100" %>
            <div class="row 2">
                <%= f.text_field :title, class:"form-control", placeholder: "タイトル" %>
            </div>
            <div class="row 3">
                <%= f.text_area :content, class:"form-control", placeholder: "本文" %>
            </div>
            <!--div class="row 4">
                カテゴリーを選択
            </div-->
            <div class="row 5">
                <button class="button-60" role="button">投稿する</button>
            </div>
            <% end %>
    </div>
</div>
