<div class="container my-5">
    <div class="post-title">
        <h2>投稿一覧</h2>
        <br><br>
          <div class="new-icon">
            <%= link_to "+", new_post_path, class: "btn btn-lg rounded-circle text-right ml-auto shadow-sm" %>
          </div>
    <div class="search">
      <%= form_with url: search_posts_path, local: true, method: :get do |form| %>
        <%= form.text_field :keyword %>
        <%= form.submit "検索" %>
      <% end %>
    </div>
          <div class="post-item">
             <% @posts.each do |post| %>
             <div>
                <dl>
                    <dt>
                      <%= link_to post_path(post.user) do %>
                        <%= image_tag post.get_image, class: "post-img" %>
                      <% end %>
                    </dt>
                    <dd>
                      <%= link_to(post_path(post)) do %>
                        <%= image_tag post.user.get_profile_image, class: "post-profile-img" %>
                        <!-- def get_profile_imageの部分がArgumentError（引数のエラー）wrong number of arguments(given 2, expected 0)（与えられた引数は2つだけど予測は0だから、引数の数が間違っている）のエラーが出た。
                          「get_profile_image」に渡す引数でエラーが起こっている。＝＞サイズ指定が間違っており、（100, 100)になっていたため、変更。-->
                      <% end %>
                      <%= link_to post_path(post.id), title: post.user.name do %>
                        <strong><i class="fa fa-regular fa-user"></i><span><%= post.user.name %></strong></span>
                      <% end %>
                      <br>
                      <%= post.content %>
                    </dd>
                </dl>
            </div>
            <% end %>
          </div>
    </div>
        <%= paginate @posts %>
</div>
