<div class="container my-5">
    <div class="post-title">
        <h2>検索結果  "<%= @tag.name %>"</h2>
        <br><br>
          <div class="post-item">
             <% @posts.each do |list| %>
             <div>
                <dl>
                    <dt>
                      <%= link_to post_path(post.id) do %>
                        <%= image_tag post.get_image, class: "post-img" %>
                      <% end %>
                    </dt>
                    <dd>
                      <!--%= link_to(post_path(post)) do %>
                        <%= image_tag post.user.get_profile_image, class: "post-profile-img" %>
                        <!-- def get_profile_imageの部分がArgumentError（引数のエラー）wrong number of arguments(given 2, expected 0)（与えられた引数は2つだけど予測は0だから、引数の数が間違っている）のエラーが出た。
                          「get_profile_image」に渡す引数でエラーが起こっている。＝＞サイズ指定が間違っており、（100, 100)になっていたため、変更。-->
                      <!--% end %-->
                      <%= link_to user_path(post.user), title: post.user.name do %>&ensp;
                        <strong><%= post.user.name %></strong>
                      <% end %>
                      <br>
                      <%= post.content %>
                      <% @tag_list.each do |list| %>
                    <%=link_to list.name,search_tag_path(tag_id: list.id) do %>
                          <%="(#{list.posts.count})" %>
                    <% end %>
                    <% end %>
                    </dd>
                </dl>
            </div>
            <% end %>
          </div>
    </div>
    </div>
</div>