<div class="container my-5">
    <div class="post-title">
      <%= form_with model: @post, url: post_path do |f| %>
    <h2><%= @post.user.name %>さんの投稿</h2>
    <br><br>
    <div class="post-item">
      <div>
        <dl>
          <dt>
             <%= image_tag @post.get_image, class: "post-img" %>
          </dt>
          <dd>
             <%= image_tag @post.user.get_profile_image, class: "post-profile-img" %>
                <!-- def get_profile_imageの部分がArgumentError（引数のエラー）wrong number of arguments(given 2, expected 0)（与えられた引数は2つだけど予測は0だから、引数の数が間違っている）のエラーが出た。
                 「get_profile_image」に渡す引数でエラーが起こっている。＝＞サイズ指定が間違っており、（100, 100)になっていたため、変更。-->
              <strong><i class=" fa fa-regular fa-user"></i><span><%= @post.user.name %></strong></span>
            <% if @post.favorited_by?(current_user) %>
              <p>
                 <%= link_to post_favorites_path(@post), method: :delete do %>
                   ♥<%= @post.favorites.count %> いいね
                 <% end %>
              </p>
            <% else %>
              <p>
                  <%= link_to post_favorites_path(@post), method: :post do %>
                   ♡<%= @post.favorites.count %> いいね
                  <% end %>
              </p>
            <% end %>
              <%= @post.content %>
          <% @post_tags.each do |tag| %>
              <%= link_to tag.name, search_tag_path(tag_id: tag.id) %><%="(#{tag.posts.count})" %>
          <% end %>
              <% if @post.user == current_user %>
                <%= link_to "編集する", edit_post_path(@post), class: "btn btn-outline-danger mx-auto my-1" %>
              <% end %>
              <% end %>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
    <div class="post-title">
      <h2>コメント投稿</h2>
      <br><br>
        <div class="post-item">
          <div>
            <dl>
              <dt>
                <p>コメント件数：<%= @post.comments.count %></p>
              </dt>
              <dd>
                <%= form_with model: [@post, @comment] do |f| %>
                  <%= f.text_area :comment, placeholder: "コメントをここに" %>
                  <%= f.submit "送信する" %>
                <% end %>
              </dd>
              <br><br>
              <% @comments.each do |comment| %>
              <dt>
                <h6>コメントユーザー</h6>
                <%= comment.user.name %>
              </dt>
              <dd>
                <%= comment.comment %>
                  <% if @post.user == current_user %>
                    <%= link_to "削除", post_comment_path(@post, comment), method: :delete %>
                  <% end %>
              </dd>
              <% end %>
            </dl>
          </div>
        </div>
    </div>
</div>