<!-- pathの確認-->
<div>
  <%= image_tag @post.get_image %>
  <h2><%= @user.name %>さんの投稿</h2>
  <p>タイトル:<%= @post.title %></p>
  <p>説明:<%= @post.content %></p>
  <p>投稿ユーザー画像:<%= image_tag @post.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム:<%= @post.user.name %></p>
  <p>投稿日:<%= @post.created_at.strftime('%Y/%m/%d')%></p>
  <% if @post.user == current_user %>
   <%= link_to "削除",post_path(@post), method: :delete %>
  <% end %>
<!--　お気に入り機能-->
   <% if @post.already_favorited?(current_user) %>
  <p class="favorite-heading">保存をキャンセル</p>
   <%= link_to favorites_path(@post), method: :delete, class: "favorite-link" do %>
    <i class="fa-regular fa-star"></i>
    <% else %>
  <p class="favorite-heading">投稿を保存</p>
   <%= link_to favorites_path(@post), method: :post, class: "favorite-link" do %>
    <i class="fa-solid fa-star"></i>
<!-- お気に入り機能はここまで-->
</div>

<div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.user == current_user %>
     <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>